.container {
    position: relative;
    color: rgb(233, 211, 10);
    font-weight: bold;
    font-size: x-large;
    /* text-align: center; */
}

.topLeft {
    position: absolute;
    top: 15px;
    left: 20px;
    
}

.topRight {
    position: absolute;
    top: 15px;
    right: 20px;
}

.bottomLeft {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.bottomRight {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    /* font-size: 50px; */
}